* {
	margin: 0;
	padding: 0;
	font-size: 12px;
}

.login_main {
	width: 862px;
	margin: 0 auto;
	border-spacing: 0;
}

.login_version {
	margin-left: 400px;
	margin-top: 40px;
}

.tip_color {
	color: #528311;
}

.left_tree ul.disc {
	list-style-type: disc;
}

.left_tree li {
	padding: 10px;
}

.left_tree ul {
	width: 50%;
	margin: 0 auto;
}

a:link, a:link {
	text-decoration: none;
	color: #43860c;
}

.left_tree a:hover {
	text-decoration: none;
	color: #FF0000;
}